[submodule "ZeroEngine/vendor/GLFW"]
	path = ZeroEngine/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "ZeroEngine/vendor/FrameLog"]
	path = ZeroEngine/vendor/FrameLog
	url = https://github.com/glpetrikov/FrameLog.git
[submodule "ZeroEngine/vendor/ImGui"]
	path = ZeroEngine/vendor/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "ZeroEngine/vendor/glm"]
	path = ZeroEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
